@charset 'utf-8';
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
table{
    margin: 0 auto;
    border-top: 2px solid white;
    border-left: 2px solid white;
    text-align: center;
    width: 100%;
}
td{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    height: 30px;
    font-size: 13px;
}
td{
    width: 90px;
}
form input{
    width: 100%;
    height: 100%;
    border: 0 none;
    padding: 0 5px;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
}
form input:focus{background:#99C8EC;}
.required{
    color: red;
    font-size: 13px;
    margin-left: 5px;
    font-weight: normal;
}.required:after{
    content: '必填';
}
#auto{
    position: relative;
}
#autoValue{
    width: 91%;
    position: absolute;
    top: 0;
    right: 0;
}