@charset 'utf-8';
.content h2{
	font-size: 18px;
	text-align: center;
	margin: 10px 0;
}.content h2 span{
	float: right;
	font-size: 13px;
	color: #333;
	font-weight: normal;
}.content p {
	font-size: 16px;
	text-indent: 2em;
	line-height: 1.6;
	color: #333333;
	max-width: 670px;
	margin: 5px 0;
}
.img{
	margin: 10px 0; 
}.img img{
	width: 660px;
	height: 460px;
}
.next{
	margin-top: 20px;
}.next p{
	text-indent: 0;
	font-size: 13px;
}.next p a{
	color: #333;
}.next p a:hover{
	color: #840001;
}